#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define MOUSE 4
#define SCROLL 5
#define NUM 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
        };

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <12 13>;
        };

        muhennkann {
            bindings = <&to_layer_0 INT_MUHENKAN>;
            key-positions = <11 10>;
        };

        double_quotation {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <20 21>;
        };

        eq {
            bindings = <&kp EQUAL>;
            key-positions = <24 25>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q  &kp P      &kp U      &kp Y                &kp L                                                   &kp J  &kp D      &kp H  &kp G      &kp W
&kp I  &kp O      &kp E      &kp A                &kp F                 &mkp MCLK          &kp BACKSPACE  &kp K  &kp T      &kp N  &kp S      &kp R
&kp Z  &kp X      &kp B      &kp C                &kp SEMICOLON         &mkp MB4           &kp ENTER      &kp M  &mkp LCLK  &mo 5  &mkp RCLK  &kp V
&mo 3  &kp GRAVE  &kp SLASH  &mt LEFT_ALT ESCAPE  &mt LEFT_SHIFT SPACE  &mt LCTRL TAB      &mo 2          &mo 1                               &kp RIGHT_WIN
            >;

            sensor-bindings = <&inc_dec_kp UP DOWN>;
        };

        Num {
            bindings = <
&kp RIGHT_BRACKET  &kp NUMBER_9  &kp NUMBER_8  &kp NUMBER_7  &kp MINUS                         &none           &kp F7  &kp F8  &kp F9  &kp F10
&kp LEFT_BRACKET   &kp NUMBER_6  &kp NUMBER_5  &kp NUMBER_4  &kp NUMBER_0  &trans      &trans  &kp LANGUAGE_2  &kp F4  &kp F5  &kp F6  &kp F11
&kp BACKSLASH      &kp NUMBER_3  &kp NUMBER_2  &kp NUMBER_1  &kp EQUAL     &trans      &trans  &kp LANG1       &kp F1  &kp F2  &kp F3  &kp F12
&none              &none         &none         &trans        &trans        &trans      &trans  &trans                                  &trans
            >;
        };

        Func {
            bindings = <
&kp APOS  &kp COMMA  &kp PERIOD  &none   &none                       &none     &none  &kp SPACE   &kp TAB        &none
&none     &kp GRAVE  &kp SLASH   &none   &none   &trans      &trans  &mkp MB4  &none  &kp ENTER   &kp BACKSPACE  &none
&none     &none      &none       &none   &none   &trans      &trans  &none     &none  &kp DELETE  &kp INS        &none
&none     &none      &none       &trans  &trans  &trans      &trans  &trans                                      &trans
            >;
        };

        BT {
            bindings = <
&bootloader  &none         &none         &none         &none                             &none           &none  &none      &none  &bootloader
&none        &none         &none         &bt BT_SEL 4  &bt BT_SEL 0  &trans      &trans  &bt BT_CLR_ALL  &none  &none      &none  &none
&none        &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1  &none         &trans      &trans  &bt BT_CLR      &none  &mkp MCLK  &none  &none
&none        &none         &none         &trans        &trans        &trans      &trans  &trans                                   &trans
            >;
        };

        Empty {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        Scroll {
            bindings = <
&trans  &none  &none  &none   &none                       &none          &none           &none  &none         &trans
&trans  &none  &none  &none   &none   &trans      &trans  &kp HOME       &kp LEFT        &none  &kp RIGHT     &kp END
&trans  &none  &none  &none   &none   &trans      &trans  &kp PAGE_DOWN  &kp DOWN_ARROW  &none  &kp UP_ARROW  &kp PAGE_UP
&trans  &none  &none  &trans  &trans  &trans      &trans  &trans                                              &trans
            >;
        };
    };
};
